# ==========================================
# Jupyter Notebook
# ==========================================
# Always ignore the hidden checkpoints directory
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.jupyter/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Environments and Virtual Envs
# ==========================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ==========================================
# IDEs and Editors
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
